:root {
    --frameBlue: #2f5597;
    --frameColor: #e68d28;
    --frameHeigth: 40px;
    --basicBackground: #EEEEFF;
    --tweetHeadColor: #CCCCCC;
    --adminRed: crimson;
    --headerColor: #f9d5ac;
}


#tweetBody {
    /*background-color: var(--basicBackground);*/
    min-height: 50px;
    max-height: 820px;

}


#bodyleft {
    border: 1px solid var(--frameBlue);
    border-radius: 5px;
    padding: 15px;
    min-height: inherit;
    max-height: inherit;
    height: max-content;
}

#bodyright {
    border: 1px solid var(--frameBlue);
    border-radius: 5px;
    padding: 6px;
    min-height: inherit;
    max-height: inherit;
    height: max-content;
}

#footer {
    background-color: var(--frameBlue);
    color: var(--frameColor);
    height: var(--frameHeigth);
    margin: 10px auto 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.tweetbox {
    color: lightgrey;
    margin: 10px 0 0 0;
}

.tweetheader {
    margin: 0 0 -3px 0;
}

.tweetheader .date {
    padding: 0 10px;
    color: var(--tweetHeadColor);
    text-align: right;
    font-size: 14px;
}

.tweetButtons {
    float: right;
}

.tweetheader .user {
    padding: 0 10px;
    color: var(--tweetHeadColor);
    ;
    width: 50%;
    float: left;
    font-size: 14px;
}

.tweettext {
    background-color: rgb(236, 245, 253);
    border: 1px solid var(--frameBlue);
    border-radius: 5px;
    padding: 3px 0 0 10px;
    color: var(--frameBlue);
}

#header {
    background-color: var(--frameBlue);
    color: var(--headerColor);
    height: var(--frameHeigth);
    margin-bottom: 10px;

}

#header a {
    color: var(--headerColor) !important;
}

#logo {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#body {
    background-color: var(--basicBackground);
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

#topForm,
#bottomForm {

    height: 200px;
    /*   border: 1px solid crimson;*/
}

#balalso,
#jobbalso {
    /*   border: 1px solid crimson;*/
    height: 100%;

}

.textCentered {
    width: 100%;
    text-align: center;
}

a:link {
    color: var(--frameColor);
    text-decoration: none;
}

a:visited {
    color: var(--frameColor);
    text-decoration: none;
}

a:active {
    color: var(--frameColor);
    text-decoration: none;
}

a:hover {
    color: crimson;
}

.tweettext a:link {
    color: var(--frameBlue);
    text-decoration: none;
}

.tweettext a:visited {
    color: var(--frameBlue);
    text-decoration: none;
}

.tweettext a:active {
    color: var(--frameBlue);
    text-decoration: none;
}

.tweettext a:hover {
    color: crimson;

}

.currentUserBox {
    background-color: #FFD;
}

.activeUserBox {
    background-color: #DFF;
}

#newTweetButton {
    position: fixed;
    bottom: 45px;
    right: 20%;
    width: 40px;
    height: 40px;
    color: navy;
    z-index: 9;
    text-align: center;
    font-size: 24pt;
}

#newTweetButton a {
    color: var(--frameBlue);
    text-decoration: none;
}

#newTweetButton a:hover {
    color: crimson;

}

.userbox {
    border: 1px solid var(--frameBlue);
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin: 7px 0;
    color: var(--adminBlue);
    text-decoration: none;
}

.activeuserbox {
    background-color: #a2fbfb;
}

.userBoxLink {
    color: var(--adminBlue);
    color: navy;
    text-decoration: none;
}

.userBoxLink:hover {
    color: var(--adminRed);
}

.userbox:hover {
    color: var(--adminRed);
    background-color: #e0fff0;
}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 15%;
    border: 3px solid #f1f1f1;
    z-index: 11;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 5px;
    background-color: white;
}

/* Full-width input fields */
/*.form-container input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}*/

/* When the inputs get focus, do something */
/*.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}*/

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: var(--frameBlue);
    color: white;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: crimson;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.myButtons {
    margin: 15px 0 5px 0;
    padding: 0px 10px 0px 0px;
}

.myButtonRight {
    text-align: right;
}

.myButtonLeft {
    text-align: left;
}

.myButtonRight a:hover,
.myButtonLeft a:hover {
    color: crimson;
}

.myButtonRight a:link,
.myButtonLeft a:link,
.myButtonRight a:active,
.myButtonLeft a:active {

    border: none;
}

.focim {
    font-family: "Tangerine", sans-serif;
    color: var(--frameBlue);
    font-size: 64px
}

.csiripbox {
    border: 1px solid var(--frameBlue);
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin: 7px 0;
    color: var(--adminBlue);
    text-decoration: none;
}

.danger {
    color: crimson;
}

.danger:hover {
    color: black;
}

.deleteuserButton {
    float: right;
    padding-right: 5px;
    width: 40px;
}

h6 {
    font-size: 7pt;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}